<%- include("./_header.ejs")%>
<link rel="stylesheet" type="text/css" href="/Profile.css">
<div class="navbar">
    <h3>Codeial-Profile</h3>
    <% if(locals.user) {%>
      <div class="detail">
        <li><a href="/">Home</a></li>
        <li><a href="#"><%= user.name %></a></li>
        <li><a href="/sign-out">Sign Out</a></li>
        <% }else{ %>
          <div class="detail">
            <li><a href="/sign-in"> Sign In</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
          </div>
          <% } %>
      </div>
    </div>
    <h1><%= user.email %></h1>
<%- include("./_footer.ejs")%>

