header {
    color: #FFFFFF; /* Navbar text color */
    padding: 2px;
    border-radius: 0px;
    z-index: 3;
    width: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #377b85, #66A5AD);
}
body{
    margin: 0px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: -23px auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffc107; /* Change color on hover */
}

main{
    max-width: 800px;
    padding: 0px 20px;
    margin: auto;
    margin-top: -14px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
/* Responsive design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        margin-top: 10px;
    }
    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}